In [1]:
import pandas as pd

In [2]:
violations = pd.read_excel('Codes_List_of_Violations_08152017.xlsx')
violations.head()

,VIOLATION_ID,ORG_ID,VIOLATION_TYPE,VIOLATION_DESC,VIOLATION_TEXT,REMEDIAL_TEXT,TABLE_NAME,EXPIRED_FLAG,DATE_EXPIRED,CREATED_BY,DATE_CREATED,MODIFIED_BY,DATE_MODIFIED,FEE_SETUP_ID,Unnamed: 14
0,1,1,BANNERS,Banners,Section 17.32.060 & 17.32.070 - Banners: Bann...,CAAZ_BANNERS,NaT,N,NaN,1.0,2014-07-09 08:03:52.640000,NaN,NaT,NaN,NaN
1,2,1,BGMATOWNER,Proper Maintenance Req - Owner,Section 16.16.030 (B) - Proper maintenance req...,CAAH_BG_MATOWNER,NaT,N,NaN,1.0,2014-07-09 08:03:52.640000,NaN,NaT,NaN,NaN
2,4,1,BLDGMAINT,Proper Maintenance Req,Section 16.16.030 (A) - Proper maintenance req...,CAAH_BLDG_MAINT,NaT,N,NaN,1.0,2014-07-09 08:03:52.640000,NaN,NaT,NaN,NaN
3,5,1,BLDGPERMIT,Building Permit Required,Section 16.28.010 - Building Permit Required: ...,CAAB_BLDG_PERMIT,NaT,N,NaN,1.0,2014-07-09 08:03:52.640000,NaN,NaT,NaN,NaN
4,6,1,BLDGSCOPE,Scope of Building Code,Section 16.16.020 (B) - The provisions of this...,CAAH_BLDG_SCOPE,NaT,N,NaN,1.0,2014-07-09 08:03:52.640000,NaN,NaT,NaN,NaN

In [3]:
print(violations[896:905])

                                          VIOLATION_ID ORG_ID VIOLATION_TYPE  \
896                                                947      1          BBR15
897                          A.   Department of Health    NaN            NaN
898                         B.   Fire Marshal Approval    NaN            NaN
899  C.   Certificate of Registration or Tax Exempt...    NaN            NaN
900  D.  Letter from charitable organization (only ...    NaN            NaN
901  E.   Letter of permission to use the Property ...    NaN            NaN
902  F.   Present verifiable proof of proper security.    NaN            NaN
903                                                948      1          BBR16
904                                                949      1          BBR17

                VIOLATION_DESC  \
896    Special Event Approvals
897                        NaN
898                        NaN
899                        NaN
900                        NaN
901                        NaN
902                          N
903     Payment Types Accepted
904  Crimes of moral turpitude

                                        VIOLATION_TEXT REMEDIAL_TEXT  \
896  When applying for a special event permit, appl...           NaN
897                                                NaN           NaN
898                                                NaN           NaN
899                                                NaN           NaN
900                                                NaN           NaN
901                                                NaN           NaN
902                                                NaN         10635
903  All application fees for beer permits and beer...           NaN
904  The Metropolitan Beer Permit Board recognizes ...           NaN

                 TABLE_NAME EXPIRED_FLAG DATE_EXPIRED  CREATED_BY  \
896                     NaT          NaN          NaN         NaN
897                     NaT          NaN          NaN         NaN
898                     NaT          NaN          NaN         NaN
899                     NaT          NaN          NaN         NaN
900                     NaT          NaN          NaN         NaN
901                     NaT          NaN          NaN         NaN
902 2017-05-19 13:00:46.340          NaN          NaN         NaN
903                     NaT            N          NaN     10635.0
904                     NaT          NaN          NaN         NaN

                   DATE_CREATED MODIFIED_BY DATE_MODIFIED  FEE_SETUP_ID  \
896                         NaN         NaN           NaT           NaN
897                         NaN         NaN           NaT           NaN
898                         NaN         NaN           NaT           NaN
899                         NaN         NaN           NaT           NaN
900                         NaN         NaN           NaT           NaN
901                         NaN         NaN           NaT           NaN
902                         NaN         NaN           NaT           NaN
903  2017-05-19 13:01:37.120000         NaN           NaT           NaN
904                         NaN         NaN           NaT           NaN

     Unnamed: 14
896          NaN
897          NaN
898          NaN
899          NaN
900          NaN
901          NaN
902          NaN
903          NaN
904          NaN

In [4]:
a = (str(violations.iloc[896,4])+ str(violations.iloc[897,0])+str(violations.iloc[898,0])
      +str(violations.iloc[899,0])+str(violations.iloc[900,0])+str(violations.iloc[901,0])+str(violations.iloc[902,0]))
# print(a)
violations.iloc[896,4] = a
print(violations.iloc[896,4])

When applying for a special event permit, applicant must submit approval for the proposed event in writing from:A.   Department of HealthB.   Fire Marshal ApprovalC.   Certificate of Registration or Tax Exempt Letter from Charity or Non-profit        organizations D.  Letter from charitable organization (only if event is held on public property and applicant is not a charity, non-profit or political organization – see Rule 8)  E.   Letter of permission to use the Property  (From property owner, Parks Department, Public Works, etc.)F.   Present verifiable proof of proper security.

In [5]:
violation_sub = violations.drop(['VIOLATION_TYPE','VIOLATION_DESC','REMEDIAL_TEXT','EXPIRED_FLAG', 'DATE_EXPIRED',  'CREATED_BY','TABLE_NAME','DATE_CREATED','ORG_ID','MODIFIED_BY', 'DATE_MODIFIED','FEE_SETUP_ID'], 1)
violation_sub.set_index('VIOLATION_ID')
violation_sub2 = violation_sub.drop('VIOLATION_ID',1)
print(violation_sub2.head())
print(violation_sub2.info())

                                      VIOLATION_TEXT  Unnamed: 14
0  Section 17.32.060 & 17.32.070 -  Banners: Bann...          NaN
1  Section 16.16.030 (B) - Proper maintenance req...          NaN
2  Section 16.16.030 (A) - Proper maintenance req...          NaN
3  Section 16.28.010 - Building Permit Required: ...          NaN
4  Section 16.16.020 (B) - The provisions of this...          NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934 entries, 0 to 933
Data columns (total 2 columns):
VIOLATION_TEXT    666 non-null object
Unnamed: 14       0 non-null float64
dtypes: float64(1), object(1)
memory usage: 14.7+ KB
None

In [6]:
print(violation_sub2['VIOLATION_TEXT'].str.contains(str('17.')))
violation_sub2['VIOLATION_TEXT'].str.contains(str('17.'))

0       True
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8       True
9      False
10      True
11      True
12      True
13      True
14     False
15       NaN
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
904    False
905      NaN
906    False
907    False
908      NaN
909    False
910    False
911    False
912    False
913      NaN
914      NaN
915    False
916    False
917      NaN
918    False
919      NaN
920      NaN
921    False
922    False
923    False
924      NaN
925    False
926    False
927    False
928    False
929    False
930    False
931      NaN
932    False
933    False
Name: VIOLATION_TEXT, Length: 934, dtype: object

0       True
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8       True
9      False
10      True
11      True
12      True
13      True
14     False
15       NaN
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
904    False
905      NaN
906    False
907    False
908      NaN
909    False
910    False
911    False
912    False
913      NaN
914      NaN
915    False
916    False
917      NaN
918    False
919      NaN
920      NaN
921    False
922    False
923    False
924      NaN
925    False
926    False
927    False
928    False
929    False
930    False
931      NaN
932    False
933    False
Name: VIOLATION_TEXT, Length: 934, dtype: object

In [7]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('\d{2}.\d{2}.\d{3}'))
viol17_df = violation_sub2[bool17== True].count()
print(viol17_df)

VIOLATION_TEXT    447
Unnamed: 14         0
dtype: int64

In [8]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('\d{1,2}.\d{1,3}.\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    621
Unnamed: 14         0
dtype: int64

In [9]:
viol18_false = violation_sub2[bool17== False]
print(viol18_false)

                                        VIOLATION_TEXT  Unnamed: 14
209                                        See SW Code          NaN
210                                        See SW Code          NaN
211                                        See SW Code          NaN
212                                        See SW Code          NaN
215  No trailer or watercraft shall be stored in th...          NaN
460          -Replace substandard wiring (drop-cords).          NaN
520                                             Other:          NaN
583  -Properly extend the vents a minimum of 6” abo...          NaN
630  -Repair exterior (brick veneer-stone) walls, r...          NaN
648  -Overhaul windows; provide sound glass, sash, ...          NaN
664  -Replace or repair all damaged interior walls,...          NaN
674  -Raise and level floors; provide sound floor j...          NaN
680  -Provide handrails for (stairway to basement; ...          NaN
694  -Provide metal regulation garbage container wi...          NaN
698  -Substantially repair (fences, sheds, garages)...          NaN
702  -Remove (used lumber, debris, refrigerator, ab...          NaN
704  -Remove all combustible materials -within ten ...          NaN
706  The owner, party in interest, lessee, agent, o...          NaN
883  All retail permittees shall conspicuously post...          NaN
884  The Executive Secretary to the Metropolitan Be...          NaN
885  An off-sale beer permittee shall sell beer onl...          NaN
886  No person under 18 years of age shall transpor...          NaN
887  Beer shall not be sold through any drive-throu...          NaN
889  All applicants for beer permits must supply th...          NaN
890  No permittee nor any of his/her agents shall d...          NaN
891  In disciplinary proceedings, it shall be no de...          NaN
892  When applying for an on or off-sale permit, al...          NaN
893  All applicants for a permit of any kind relati...          NaN
894  When ascertaining the age of a person purchasi...          NaN
896  When applying for a special event permit, appl...          NaN
903  All application fees for beer permits and beer...          NaN
904  The Metropolitan Beer Permit Board recognizes ...          NaN
906  Upon making application for a beer permit from...          NaN
907  Upon making application for an on-sale beer pe...          NaN
910  All complaints requested to be heard by the Me...          NaN
911  An old location is any location that has had a...          NaN
912                                            Rule 26          NaN
915  A permit holder may not avoid a hearing or pro...          NaN
916  Temporary permits shall not be issued by the E...          NaN
921  No permittee shall expand the premises for whi...          NaN
925  The beer board shall consider a permit holder'...          NaN
926  For all purposes under the metropolitan beer l...          NaN
929  Upon suspension of a beer permit, the permitte...          NaN
930  If an application has not been granted or deni...          NaN
932  A permit shall not be issued by the Executive ...          NaN

In [10]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('17.\d{1,3}.\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    98
Unnamed: 14        0
dtype: int64

In [11]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('16.\d{1,3}.\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    312
Unnamed: 14         0
dtype: int64

In [12]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('10.\d{1,3}.\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    47
Unnamed: 14        0
dtype: int64

In [13]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('12.\d{1,3}.\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    17
Unnamed: 14        0
dtype: int64

In [14]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('15.\d{1,3}.\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    12
Unnamed: 14        0
dtype: int64

In [15]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('57.\d{1,3}-\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    84
Unnamed: 14        0
dtype: int64

In [16]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('7.\d{1,3}-\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    86
Unnamed: 14        0
dtype: int64

In [17]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('5.\d{1,3}-\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    6
Unnamed: 14       0
dtype: int64

In [18]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('6.\d{1,3}-\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    6
Unnamed: 14       0
dtype: int64

In [19]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('8.\d{1,3}-\d{,3}'))
viol18_df = violation_sub2[bool17== True].count()
print(viol18_df)

VIOLATION_TEXT    2
Unnamed: 14       0
dtype: int64

In [20]:
word_count = pd.read_csv('count_list.csv')
print(word_count.loc[word_count['word']=='beer'])
word_count.head(20)

      Unnamed: 0  word  count  length       code
6              6  beer   12.0       4   5.xx.xxx
222          222  beer   16.0       4   7.xx.xxx
568          568  beer    4.0       4   8.xx.xxx
1190        1190  beer   12.0       4  57.xx.xxx

    Unnamed: 0        word  count  length      code
0            0        fire   18.0       4  5.xx.xxx
1            1      permit   17.0       6  5.xx.xxx
2            2      safety   14.0       6  5.xx.xxx
3            3    required   13.0       8  5.xx.xxx
4            4      escape   12.0       6  5.xx.xxx
5            5   emergency   12.0       9  5.xx.xxx
6            6        beer   12.0       4  5.xx.xxx
7            7    supplier   11.0       8  5.xx.xxx
8            8    homemade    9.0       8  5.xx.xxx
9            9    transfer    9.0       8  5.xx.xxx
10          10  electrical    8.0      10  5.xx.xxx
11          11  wholesaler    7.0      10  5.xx.xxx
12          12        sign    7.0       4  5.xx.xxx
13          13     require    5.0       7  5.xx.xxx
14          14      sewage    5.0       6  5.xx.xxx
15          15       sales    5.0       5  5.xx.xxx
16          16        sale    5.0       4  5.xx.xxx
17          17  protection    4.0      10  5.xx.xxx
18          18       signs    4.0       5  5.xx.xxx
19          19      vendor    4.0       6  5.xx.xxx

In [21]:
word_cat_freq = pd.read_excel('word_cat_freq.xlsx')
word_cat_freq.columns= ['Freq in categories','word'] 
word_cat_freq.head()

   Freq in categories       word
0                   8    vehicle
1                   7  permitted
2                   7   required
3                   7    storage
4                   7      sales

In [22]:
word_df = pd.merge(word_count,word_cat_freq,how='left', on='word')
word_df = word_df.drop('length',axis=1)
word_df.head()

   Unnamed: 0      word  count      code  Freq in categories
0           0      fire   18.0  5.xx.xxx                 2.0
1           1    permit   17.0  5.xx.xxx                 6.0
2           2    safety   14.0  5.xx.xxx                 4.0
3           3  required   13.0  5.xx.xxx                 7.0
4           4    escape   12.0  5.xx.xxx                 2.0

In [24]:
word_df_10 = word_df.loc[word_df['code']=='10.xx.xxx'].sort_values('Freq in categories', ascending = False)
# cat_10_stockwords = 
word_df_10.sort_values('count', ascending = False).head(5)

     Unnamed: 0      word  count       code  Freq in categories
719         719    litter   11.0  10.xx.xxx                 1.0
720         720   garbage    8.0  10.xx.xxx                 2.0
721         721  property    5.0  10.xx.xxx                 1.0
724         724     waste    4.0  10.xx.xxx                 4.0
722         722   dumping    4.0  10.xx.xxx                 1.0

In [25]:
word_df_57 = word_df.loc[word_df['code']=='57.xx.xxx'].sort_values('Freq in categories', ascending = False)
word_df_57 = word_df_57.loc[word_df['Freq in categories']  < 5]
word_df_57 = word_df_57.loc[word_df['count']>1]
# cat_57_stockwords = 
word_df_57.sort_values('count', ascending = False).head(5)

      Unnamed: 0        word  count       code  Freq in categories
1190        1190        beer   12.0  57.xx.xxx                 4.0
1191        1191    supplier   11.0  57.xx.xxx                 3.0
1194        1194    homemade    9.0  57.xx.xxx                 3.0
1192        1192    transfer    9.0  57.xx.xxx                 4.0
1196        1196  wholesaler    7.0  57.xx.xxx                 4.0

In [26]:
word_df_16 = word_df.loc[word_df['code']=='16.xx.xxx'].sort_values('Freq in categories', ascending = False)
word_df_16 = word_df_16.loc[word_df['Freq in categories'] == 1]
word_df_16 = word_df_16.loc[word_df['count']>5]
# cat_16_stockwords = 
word_df_16.sort_values('count', ascending = False).head(10)

     Unnamed: 0           word  count       code  Freq in categories
848         848          bldgs   44.0  16.xx.xxx                 1.0
853         853         system   16.0  16.xx.xxx                 1.0
858         858        rubbish   14.0  16.xx.xxx                 1.0
860         860       interior   13.0  16.xx.xxx                 1.0
864         864    ventilation   12.0  16.xx.xxx                 1.0
866         866  extermination   10.0  16.xx.xxx                 1.0
870         870          rooms   10.0  16.xx.xxx                 1.0
868         868         toilet   10.0  16.xx.xxx                 1.0
867         867        heating   10.0  16.xx.xxx                 1.0
873         873        general    8.0  16.xx.xxx                 1.0

In [27]:
word_df_7 = word_df.loc[word_df['code']=='7.xx.xxx'].sort_values('Freq in categories', ascending = False)
word_df_7 = word_df_7.loc[word_df['Freq in categories'] < 5]
# word_df_7 = word_df_7.loc[word_df['count']>5]
# cat_7_stockwords = 
word_df_7.sort_values('count', ascending = False).head(20)

     Unnamed: 0          word  count      code  Freq in categories
222         222          beer   16.0  7.xx.xxx                 4.0
226         226      transfer   11.0  7.xx.xxx                 4.0
227         227      supplier   11.0  7.xx.xxx                 3.0
230         230         fence    9.0  7.xx.xxx                 4.0
231         231      homemade    9.0  7.xx.xxx                 3.0
228         228    wholesaler    9.0  7.xx.xxx                 4.0
232         232       display    7.0  7.xx.xxx                 4.0
235         235  unauthorized    6.0  7.xx.xxx                 4.0
234         234   application    6.0  7.xx.xxx                 4.0
236         236       caterer    6.0  7.xx.xxx                 3.0
238         238          home    6.0  7.xx.xxx                 3.0
241         241     wholesale    5.0  7.xx.xxx                 4.0
239         239  overcrowding    5.0  7.xx.xxx                 3.0
240         240       require    5.0  7.xx.xxx                 4.0
250         250     statement    4.0  7.xx.xxx                 4.0
254         254      delivery    4.0  7.xx.xxx                 4.0
249         249     placement    4.0  7.xx.xxx                 3.0
252         252       setback    4.0  7.xx.xxx                 3.0
257         257        employ    4.0  7.xx.xxx                 3.0
260         260    occupation    4.0  7.xx.xxx                 3.0

In [35]:
word_df_17 = word_df.loc[word_df['code']=='17.xx.xxx'].sort_values('Freq in categories', ascending = False)
word_df_17 = word_df_17.loc[word_df['Freq in categories'] < 4]
# word_df_7 = word_df_7.loc[word_df['count']>5]
# cat_7_stockwords = 
word_df_17.sort_values('count', ascending = False).head(10)

      Unnamed: 0          word  count       code  Freq in categories
1094        1094          home    6.0  17.xx.xxx                 3.0
1095        1095  overcrowding    5.0  17.xx.xxx                 3.0
1099        1099     placement    4.0  17.xx.xxx                 3.0
1101        1101    occupation    4.0  17.xx.xxx                 3.0
1102        1102    electronic    4.0  17.xx.xxx                 2.0
1103        1103   consignment    4.0  17.xx.xxx                 3.0
1098        1098       setback    4.0  17.xx.xxx                 3.0
1108        1108      material    3.0  17.xx.xxx                 3.0
1109        1109     temporary    3.0  17.xx.xxx                 2.0
1146        1146      handheld    2.0  17.xx.xxx                 2.0

In [38]:
word_df_5 = word_df.loc[word_df['code']=='5.xx.xxx'].sort_values('Freq in categories', ascending = False)
word_df_5 = word_df_5.loc[word_df['Freq in categories'] < 4]
# word_df_7 = word_df_7.loc[word_df['count']>5]
# cat_7_stockwords = 
word_df_5.sort_values('count', ascending = False).head(10)

    Unnamed: 0        word  count      code  Freq in categories
0            0        fire   18.0  5.xx.xxx                 2.0
4            4      escape   12.0  5.xx.xxx                 2.0
5            5   emergency   12.0  5.xx.xxx                 2.0
7            7    supplier   11.0  5.xx.xxx                 3.0
8            8    homemade    9.0  5.xx.xxx                 3.0
10          10  electrical    8.0  5.xx.xxx                 2.0
14          14      sewage    5.0  5.xx.xxx                 2.0
21          21       smoke    4.0  5.xx.xxx                 2.0
24          24     consent    3.0  5.xx.xxx                 3.0
31          31        bond    3.0  5.xx.xxx                 3.0

In [46]:
word_df_8 = word_df.loc[word_df['code']=='8.xx.xxx'].sort_values('Freq in categories', ascending = False)
word_df_8 = word_df_8.loc[word_df['Freq in categories'] < 5]
# word_df_8 = word_df_8.loc[word_df['count']>5]
# cat_8_stockwords = 
word_df_8.sort_values('count', ascending = False).head(10)

     Unnamed: 0          word  count      code  Freq in categories
562         562       caterer    6.0  8.xx.xxx                 3.0
565         565  unauthorized    5.0  8.xx.xxx                 4.0
567         567   application    5.0  8.xx.xxx                 4.0
570         570      landlord    4.0  8.xx.xxx                 4.0
568         568          beer    4.0  8.xx.xxx                 4.0
573         573  registration    4.0  8.xx.xxx                 4.0
574         574     statement    3.0  8.xx.xxx                 4.0
580         580         trash    3.0  8.xx.xxx                 4.0
579         579          cans    3.0  8.xx.xxx                 2.0
578         578         noise    3.0  8.xx.xxx                 4.0

In [48]:
word_df_12 = word_df.loc[word_df['code']=='12.xx.xxx'].sort_values('Freq in categories', ascending = False)
word_df_12 = word_df_12.loc[word_df['Freq in categories'] < 5]
# word_df_12 = word_df_12.loc[word_df['count']>5]
# cat_8_stockwords = 
word_df_12.sort_values('count', ascending = False).head(10)

     Unnamed: 0          word  count       code  Freq in categories
797         797         fence    9.0  12.xx.xxx                 4.0
799         799  right-of-way    5.0  12.xx.xxx                 4.0
800         800       setback    4.0  12.xx.xxx                 3.0
807         807          rear    2.0  12.xx.xxx                 3.0
803         803        inside    2.0  12.xx.xxx                 3.0
809         809          side    2.0  12.xx.xxx                 3.0
802         802         front    2.0  12.xx.xxx                 3.0
804         804        mobile    2.0  12.xx.xxx                 1.0
806         806       vending    2.0  12.xx.xxx                 1.0
812         812      bedrooms    1.0  12.xx.xxx                 4.0

###### SQL for checking if the words in each of our categories hit what proportion of the live dataset
select  
sum(case when (lower(violations_noted) like '%bldg%' OR lower(violations_noted) like '%building%' OR lower(violations_noted) like '%heat%' 
    OR lower(violations_noted) like '%system%' OR lower(violations_noted) like '%rubbish%' OR lower(violations_noted) like '%interior%'
    OR lower(violations_noted) like '%ventilation%' OR lower(violations_noted) like '%extermination%') then 1 else 0 end) as cat16,


    sum(case when (lower(violations_noted) like '%beer%' OR lower(violations_noted) like '%supplier%' OR lower(violations_noted) like '%homemade%' 
    OR lower(violations_noted) like '%wholesale%' OR lower(violations_noted) like '%transfer%' ) then 1 else 0 end) as cat57and7,
    sum(case when (lower(violations_noted) like '%litter%' OR lower(violations_noted) like '%garbage%' OR lower(violations_noted) like '%property%' 
    OR lower(violations_noted) like '%waste%' OR lower(violations_noted) like '%dump%' ) then 1 else 0 end) as cat10,

    sum(case when (lower(violations_noted) like '%home%' OR lower(violations_noted) like '%overcrowding%' OR lower(violations_noted) like '%electr%' 
    OR lower(violations_noted) like '%consignment%' OR lower(violations_noted) like '%placement%' ) then 1 else 0 end) as cat17,

    sum(case when (lower(violations_noted) like '%fire%' OR lower(violations_noted) like '%escape%' OR lower(violations_noted) like '%emergency%' 
    OR lower(violations_noted) like '%sewage%' OR lower(violations_noted) like '%smoke%' ) then 1 else 0 end) as cat5,

    sum(case when (lower(violations_noted) like '%cater%' OR lower(violations_noted) like '%unauthorized%' OR lower(violations_noted) like '%landlord%' 
    OR lower(violations_noted) like '%registration%' OR lower(violations_noted) like '%noise%' ) then 1 else 0 end) as cat8,
    sum(case when (lower(violations_noted) like '%fence%' OR lower(violations_noted) like '%right-of-way%' OR lower(violations_noted) like '%setback%' 
    OR lower(violations_noted) like '%side%' OR lower(violations_noted) like '%front%' ) then 1 else 0 end) as cat12,

sum(case when (lower(violations_noted) like '%bldg%' OR lower(violations_noted) like '%building%' OR lower(violations_noted) like '%heat%' 
    OR lower(violations_noted) like '%system%' OR lower(violations_noted) like '%rubbish%' OR lower(violations_noted) like '%interior%'
    OR lower(violations_noted) like '%ventilation%' OR lower(violations_noted) like '%extermination%' OR lower(violations_noted) like '%beer%' OR lower(violations_noted) like '%supplier%' OR lower(violations_noted) like '%homemade%' 
    OR lower(violations_noted) like '%wholesale%' OR lower(violations_noted) like '%transfer%' OR lower(violations_noted) like '%litter%' OR lower(violations_noted) like '%garbage%' OR lower(violations_noted) like '%property%' 
    OR lower(violations_noted) like '%waste%' OR lower(violations_noted) like '%dump%' OR lower(violations_noted) like '%home%' OR lower(violations_noted) like '%overcrowding%' OR lower(violations_noted) like '%electr%' 
    OR lower(violations_noted) like '%consignment%' OR lower(violations_noted) like '%placement%' OR lower(violations_noted) like '%fire%' OR lower(violations_noted) like '%escape%' OR lower(violations_noted) like '%emergency%' 
    OR lower(violations_noted) like '%sewage%' OR lower(violations_noted) like '%smoke%' OR lower(violations_noted) like '%cater%' OR lower(violations_noted) like '%unauthorized%' OR lower(violations_noted) like '%landlord%' 
    OR lower(violations_noted) like '%registration%' OR lower(violations_noted) like '%noise%' OR lower(violations_noted) like '%fence%' OR lower(violations_noted) like '%right-of-way%' OR lower(violations_noted) like '%setback%' 
    OR lower(violations_noted) like '%side%' OR lower(violations_noted) like '%front%') then 0 else 1 end) as notcat,
    count(*) as total

from property_standards_violations 

![screen shot result](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "sql_result")