In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import re

# Read data
### Overview

In [17]:
violation_xl=pd.read_csv ('/Users/ghfmhf/git/data-question-2-xtreme-united/Codes_List_of_Violations_15_aug_2017.csv')
violation_xl.head(5)

,VIOLATION_ID,ORG_ID,VIOLATION_TYPE,VIOLATION_DESC,VIOLATION_TEXT,REMEDIAL_TEXT,TABLE_NAME,EXPIRED_FLAG,DATE_EXPIRED,CREATED_BY,DATE_CREATED,MODIFIED_BY,DATE_MODIFIED,FEE_SETUP_ID,Unnamed: 14
0,1,1,BANNERS,Banners,Section 17.32.060 & 17.32.070 - Banners: Bann...,CAAZ_BANNERS,NaN,N,NaN,1.0,03:52.6,NaN,NaN,NaN,NaN
1,2,1,BGMATOWNER,Proper Maintenance Req - Owner,Section 16.16.030 (B) - Proper maintenance req...,CAAH_BG_MATOWNER,NaN,N,NaN,1.0,03:52.6,NaN,NaN,NaN,NaN
2,4,1,BLDGMAINT,Proper Maintenance Req,Section 16.16.030 (A) - Proper maintenance req...,CAAH_BLDG_MAINT,NaN,N,NaN,1.0,03:52.6,NaN,NaN,NaN,NaN
3,5,1,BLDGPERMIT,Building Permit Required,Section 16.28.010 - Building Permit Required: ...,CAAB_BLDG_PERMIT,NaN,N,NaN,1.0,03:52.6,NaN,NaN,NaN,NaN
4,6,1,BLDGSCOPE,Scope of Building Code,Section 16.16.020 (B) - The provisions of this...,CAAH_BLDG_SCOPE,NaN,N,NaN,1.0,03:52.6,NaN,NaN,NaN,NaN

In [3]:
violation_xl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934 entries, 0 to 933
Data columns (total 15 columns):
VIOLATION_ID      928 non-null object
ORG_ID            789 non-null object
VIOLATION_TYPE    788 non-null object
VIOLATION_DESC    925 non-null object
VIOLATION_TEXT    775 non-null object
REMEDIAL_TEXT     345 non-null object
TABLE_NAME        137 non-null object
EXPIRED_FLAG      651 non-null object
DATE_EXPIRED      2 non-null object
CREATED_BY        650 non-null float64
DATE_CREATED      651 non-null object
MODIFIED_BY       23 non-null object
DATE_MODIFIED     22 non-null object
FEE_SETUP_ID      0 non-null float64
Unnamed: 14       0 non-null float64
dtypes: float64(3), object(12)
memory usage: 109.5+ KB

In [4]:
violation_xl.shape

(934, 15)

In [5]:
violation_xl.count(axis=0)

VIOLATION_ID      928
ORG_ID            789
VIOLATION_TYPE    788
VIOLATION_DESC    925
VIOLATION_TEXT    775
REMEDIAL_TEXT     345
TABLE_NAME        137
EXPIRED_FLAG      651
DATE_EXPIRED        2
CREATED_BY        650
DATE_CREATED      651
MODIFIED_BY        23
DATE_MODIFIED      22
FEE_SETUP_ID        0
Unnamed: 14         0
dtype: int64

# Drop unwanted columns
### from Shruti

In [6]:
violation_sub = violation_xl.drop(['EXPIRED_FLAG', 'DATE_EXPIRED',  'CREATED_BY','TABLE_NAME','DATE_CREATED','ORG_ID','MODIFIED_BY', 'DATE_MODIFIED','FEE_SETUP_ID','Unnamed: 14'], 1)
violation_sub.set_index('VIOLATION_ID')
violation_sub2 = violation_sub.drop('VIOLATION_ID',1)

In [34]:
violation_sub2.head(10)

,VIOLATION_TYPE,VIOLATION_DESC,VIOLATION_TEXT,REMEDIAL_TEXT,cat_A
0,BANNERS,Banners,Section 17.32.060 & 17.32.070 - Banners: Bann...,CAAZ_BANNERS,
1,BGMATOWNER,Proper Maintenance Req - Owner,Section 16.16.030 (B) - Proper maintenance req...,CAAH_BG_MATOWNER,
2,BLDGMAINT,Proper Maintenance Req,Section 16.16.030 (A) - Proper maintenance req...,CAAH_BLDG_MAINT,prop
3,BLDGPERMIT,Building Permit Required,Section 16.28.010 - Building Permit Required: ...,CAAB_BLDG_PERMIT,prop
4,BLDGSCOPE,Scope of Building Code,Section 16.16.020 (B) - The provisions of this...,CAAH_BLDG_SCOPE,prop
5,BOARDINGRQ,Boarding Requirements,Section 16.24.340 (U) (2) – Boarding of Vacant...,CAAH_BOARDING_REQU,
6,BOARDVAC,Boarding of Vacant Buildings,Section 16.24.340 (U) (1) – Boarding of Vacant...,CAAH_BOARDING_VABLDG,
7,CARROW,Vehicle In The Right-Of-Way,Section 12.08.210 - Abandoned Vehicles: Abando...,CAMCL_SEW_CONCT,
8,CERTCOMP,Certificate of Compliance Required,Section 17.40.580 - Certificate of Compliance:...,CAAZ_CERT_COMP,
9,CERTOCC,Certificate of Occupancy Required,Section 16.24.130 – Certificate of Occupancy R...,CAAH_CERT_OCC,

In [35]:
violation_sub2.columns

Index(['VIOLATION_TYPE', 'VIOLATION_DESC', 'VIOLATION_TEXT', 'REMEDIAL_TEXT',
       'cat_A'],
      dtype='object')

In [8]:
print(violation_sub2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934 entries, 0 to 933
Data columns (total 4 columns):
VIOLATION_TYPE    788 non-null object
VIOLATION_DESC    925 non-null object
VIOLATION_TEXT    775 non-null object
REMEDIAL_TEXT     345 non-null object
dtypes: object(4)
memory usage: 29.3+ KB
None

In [9]:
text_vtype = violation_sub2['VIOLATION_TYPE'].astype(str)
text_vtype = text_vtype.str.upper()

# THIS IS WHAT YOU HAVE TO WORK ON
#### How to find LTRIM
#### remove/skip NaN values
#### create a correlation matrix with VIOLATION_TEXT & VIOLATION_DESC

In [10]:
violation_sub2['cat_A'] = pd.np.where(violation_sub2['VIOLATION_TYPE'].str.contains("BLDG"),"prop","")
#violation_sub2['cat_B'] = pd.np.where(violation_sub2['VIOLATION_TYPE'].str.contains("BLDG"),"prop","")

##### Investigating live_vi_matches

In [33]:
vi_match=pd.read_csv ('/Users/ghfmhf/git/data-question-2-xtreme-united/live_vi_matches.csv')
vi_match.head(10)

,Unnamed: 0,Request #,Date Received,Property APN,Property Address,City,State,ZIP,Property Owner,Complaint Source,...,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,master_category
0,0,17-1156755,05/04/2017,05814005400,121 QUEENS LN,NASHVILLE,TN,37218.0,"LUSTER, PATRICIA",EMAIL,...,NaN,NaN,NaN,overgrowth,NaN,NaN,NaN,NaN,NaN,overgrowth
1,1,17-1165789,08/24/2017,08116056500,1007 11TH AVE N,NASHVILLE,TN,37208.0,"SARGENT, THOMAS JR. & CHRISTINE",OTHER SOURCE,...,NaN,NaN,NaN,overgrowth,NaN,NaN,NaN,NaN,NaN,overgrowth
2,2,17-1157131,05/09/2017,10703001600,715 ERMAC DR,NASHVILLE,TN,37214.0,"H.H. HERITAGE INN OF NASHVILLE, LLC",PHONE,...,NaN,NaN,NaN,overgrowth,NaN,NaN,NaN,NaN,NaN,overgrowth
3,3,17-1161502,07/06/2017,07116009000,903 BLUE RIDGE DR,NASHVILLE,TN,37207.0,"SIMMONS, MABLINE P.",PHONE,...,NaN,NaN,NaN,NaN,vehicle,NaN,NaN,NaN,NaN,vehicle
4,4,17-1153921,03/06/2017,11813018100,3605B MAYFLOWER PL,NASHVILLE,TN,37204.0,"ROBISON, ALEXANDER B. ET UX",PHONE,...,NaN,NaN,NaN,NaN,NaN,trash,NaN,NaN,NaN,trash
5,5,17-1156955,05/08/2017,12001009000,1202 VULTEE BLVD,NASHVILLE,TN,37217.0,"BARRETT, MALCOLM L. JR.",PHONE,...,dumping,NaN,NaN,NaN,NaN,trash,NaN,NaN,NaN,dumpingtrash
6,6,17-1165799,08/24/2017,10409011200,3723 RICHLAND AVE,NASHVILLE,TN,37205.0,"DUNDON, THOMAS H. & LEAH A.",Codes Online,...,NaN,NaN,illegal_business_operations,NaN,NaN,NaN,NaN,NaN,NaN,illegal_business_operations
7,7,17-1154514,03/20/2017,11613007600,5971 POST RD,NASHVILLE,TN,37205.0,"ELLIS, STEPHEN NICHOLAS & ODOM, KIMBERLY SUZANNE",PHONE,...,dumping,NaN,NaN,NaN,NaN,trash,NaN,NaN,NaN,dumpingtrash
8,8,15-1114246,02/11/2015,08102009600,1713 NUBELL ST,NASHVILLE,TN,37208.0,FREEDOM PROPERTIES,INSPECTOR REPORTED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,prop
9,9,17-1153010,02/10/2017,07103005200,2402 DICKERSON PIKE,NASHVILLE,TN,37207.0,"ALBARATI, AZIZ M. & HAUTER, AMIN",PHONE,...,NaN,NaN,illegal_business_operations,NaN,vehicle,NaN,NaN,NaN,NaN,propillegal_business_operationsvehicle

In [36]:
vi_match.columns

Index(['Unnamed: 0', 'Request #', 'Date Received', 'Property APN',
       'Property Address', 'City', 'State', 'ZIP', 'Property Owner',
       'Complaint Source', 'Reported Problem', 'Status', 'Council District',
       'Last Activity Date', 'Last Activity', 'Last Activity Result',
       'Violations Noted', 'Mapped Location', 'text', 'cat1', 'cat2', 'cat3',
       'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9', 'cat10', 'cat11',
       'cat12', 'master_category'],
      dtype='object')

In [46]:
#The original file did not work for some reason, so I used a subset
vi_match_cats=vi_match.drop(['Unnamed: 0', 'Request #', 'Date Received', 'Property APN',
       'Property Address', 'City', 'State', 'ZIP', 'Property Owner',
       'Complaint Source', 'Reported Problem', 'Status', 'Council District',
       'Last Activity Date', 'Last Activity', 'Last Activity Result',
       'Violations Noted', 'Mapped Location', 'master_category'],1)
vi_match_cats.head(10)

,text,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12
0,how taken: email\nhigh grasshigh weeds,NaN,NaN,NaN,NaN,NaN,NaN,overgrowth,NaN,NaN,NaN,NaN,NaN
1,high grass/weeds.,NaN,NaN,NaN,NaN,NaN,NaN,overgrowth,NaN,NaN,NaN,NaN,NaN
2,high grass & weedshigh weeds,NaN,NaN,NaN,NaN,NaN,NaN,overgrowth,NaN,NaN,NaN,NaN,NaN
3,inoperable vehicle on row.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vehicle,NaN,NaN,NaN,NaN
4,"junk, trash & debrisopen storage, junk, trash,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,trash,NaN,NaN,NaN
5,"couch in the front ditchopen storage, junk, tr...",NaN,NaN,NaN,dumping,NaN,NaN,NaN,NaN,trash,NaN,NaN,NaN
6,advertising more guest than allowed on permit,NaN,NaN,NaN,NaN,NaN,illegal_business_operations,NaN,NaN,NaN,NaN,NaN,NaN
7,mattresses and trash on side of road.open stor...,NaN,NaN,NaN,dumping,NaN,NaN,NaN,NaN,trash,NaN,NaN,NaN
8,"vacant/unsecuredexterior repair,interior repair",prop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,garage door unsecure - vacant building; food t...,prop,NaN,NaN,NaN,NaN,illegal_business_operations,NaN,vehicle,NaN,NaN,NaN,NaN

In [48]:
# This block counts how many categories a violation falls in. NOTE: IMPORT RE is required.
# source="illegal_business_operations"
# re.compile(source)
# vi_match_cleanspace=vi_match_cats.master_category.replace(to_replace='illegal business operations', value=source,regex=True)
# vi_match['master_category']=vi_match_cleanspace
vi_match_cats.columns

Index(['text', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9', 'cat10', 'cat11', 'cat12'],
      dtype='object')

In [53]:
#Merge this into the main spreadsheet
vi_match_cats.count(axis=1)-1

0        1
1        1
2        1
3        1
4        1
5        2
6        1
7        2
8        1
9        3
10       2
11       2
12       3
13       1
14       1
15       1
16       3
17       3
18       2
19       1
20       1
21       2
22       1
23       1
24       2
25       2
26       2
27       1
28       1
29       2
        ..
51666    1
51667    2
51668    2
51669    1
51670    1
51671    1
51672    1
51673    2
51674    1
51675    2
51676    1
51677    4
51678    2
51679    3
51680    1
51681    1
51682    1
51683    1
51684    1
51685    2
51686    1
51687    3
51688    1
51689    1
51690    1
51691    2
51692    1
51693    1
51694    1
51695    1
Length: 51696, dtype: int64

# Old work
##### ignore whatever below this line
##### The 2 columns used for dictionary saved separately

In [8]:
violation_sub2.to_csv(path_or_buf='/Users/ghfmhf/git/data-question-2-xtreme-united/Codes_List_of_Violations_cleaned.csv')

##### The lines containing the chapters are saved separately

In [9]:
bool_all = violation_sub2['VIOLATION_TEXT'].str.contains(str('\d{1,2}\.\d{1,3}.\d{,3}'))
viol_all_df = violation_sub2[bool_all== True]
# print (viol_all_df.head(10))

In [10]:
viol_all_df.to_csv(path_or_buf='/Users/ghfmhf/git/data-question-2-xtreme-united/Codes_List_of_Violations_chapters.csv')

##### Counting the number of times a word is repeated
### Justin

In [11]:
text = viol_all_df['VIOLATION_DESC'].astype(str)
text = text.str.lower()

nash_vi_count = text.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count = nash_vi_count.sort_values(ascending = False)
nash_vi_count = nash_vi_count.reset_index()
nash_vi_count.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count['length'] = nash_vi_count.word.str.len()
nash_bool = nash_vi_count['length'] > 3
nash_count = nash_vi_count[nash_bool == True]
nash_count.reset_index()

## Define how often words appear in chapters

     index           word  count  length
0        1       exterior  105.0       8
1        4           area   45.0       4
2        5          bldgs   44.0       5
3        6           prop   44.0       4
4        9      buildings   31.0       9
5       10     prohibited   26.0      10
6       11       required   26.0       8
7       12      occupancy   26.0       9
8       13         permit   24.0       6
9       14          signs   23.0       5
10      16        garbage   22.0       7
11      17           sign   19.0       4
12      18           fire   18.0       4
13      19          water   17.0       5
14      20         system   16.0       6
15      21       plumbing   16.0       8
16      22         safety   14.0       6
17      23     electrical   14.0      10
18      24        rubbish   14.0       7
19      25     facilities   13.0      10
20      27       interior   13.0       8
21      28    ventilation   12.0      11
22      29        parking   12.0       7
23      30          fence   12.0       5
24      32         escape   12.0       6
25      33      emergency   12.0       9
26      34   requirements   12.0      12
27      35         litter   11.0       6
28      36           sale   11.0       4
29      37        storage   11.0       7
..     ...            ...    ...     ...
469    519       declared    1.0       8
470    520         secure    1.0       6
471    521       criminal    1.0       8
472    522          draft    1.0       5
473    523    restriction    1.0      11
474    524       driveway    1.0       8
475    525         events    1.0       6
476    526        premise    1.0       7
477    527      privilege    1.0       9
478    528         expose    1.0       6
479    529        product    1.0       7
480    530   prostitution    1.0      12
481    531         exempt    1.0       6
482    532      excrement    1.0       9
483    533      excessive    1.0       9
484    534       provided    1.0       8
485    535        exceeds    1.0       7
486    536          event    1.0       5
487    537          drugs    1.0       5
488    538           etc.    1.0       4
489    539       publicly    1.0       8
490    540       purchase    1.0       8
491    541      encourage    1.0       9
492    542     redelivery    1.0      10
493    543       released    1.0       8
494    544  reproductions    1.0      13
495    545           each    1.0       4
496    546         reqmts    1.0       6
497    547        require    1.0       7
498    548          loads    1.0       5

[499 rows x 4 columns]

# Chapters are counted separately
### here I also applied the counting strategy above  to groups separately

In [12]:
bool17 = violation_sub2['VIOLATION_TEXT'].str.contains(str('17.\d{1,3}.\d{,3}'))
viol17_df = violation_sub2[bool17== True]

In [13]:
text_17 = viol17_df['VIOLATION_TEXT'].astype(str)
text_17 = text_17.str.lower()

nash_vi_count_17 = text_17.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_17 = nash_vi_count_17.sort_values(ascending = False)
nash_vi_count_17 = nash_vi_count_17.reset_index()
nash_vi_count_17.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_17['length'] = nash_vi_count_17.word.str.len()
nash_bool_17 = nash_vi_count_17['length'] > 3
nash_count_17 = nash_vi_count_17[nash_bool_17 == True]
nash_count_17.reset_index().head(10)

   index        word  count  length
0      2     section   97.0       7
1      7       shall   53.0       5
2      8       signs   52.0       5
3     14      zoning   32.0       6
4     17        with   29.0       4
5     20    property   24.0       8
6     21  prohibited   23.0      10
7     24        this   19.0       4
8     25   17.32.050   19.0       9
9     26      signs:   18.0       6

In [14]:
bool16 = violation_sub2['VIOLATION_TEXT'].str.contains(str('16.\d{1,3}.\d{,3}'))
viol16_df = violation_sub2[bool16== True]

In [15]:
text_16 = viol16_df['VIOLATION_TEXT'].astype(str)
text_16 = text_16.str.lower()

nash_vi_count_16 = text_16.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_16 = nash_vi_count_16.sort_values(ascending = False)
nash_vi_count_16 = nash_vi_count_16.reset_index()
nash_vi_count_16.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_16['length'] = nash_vi_count_16.word.str.len()
nash_bool_16 = nash_vi_count_16['length'] > 3
nash_count_16 = nash_vi_count_16[nash_bool_16 == True]
nash_count_16.reset_index().head(10)

   index        word  count  length
0      2       shall  450.0       5
1      6     section  319.0       7
2     15  maintained   94.0      10
3     17       every   86.0       5
4     18        with   80.0       4
5     19    building   80.0       8
6     20        from   79.0       4
7     22   16.24.340   69.0       9
8     24       water   68.0       5
9     26   structure   63.0       9

In [16]:
bool12 = violation_sub2['VIOLATION_TEXT'].str.contains(str('12.\d{1,3}.\d{,3}'))
viol12_df = violation_sub2[bool12== True]

In [17]:
text_12 = viol12_df['VIOLATION_TEXT'].astype(str)
text_12 = text_12.str.lower()

nash_vi_count_12 = text_12.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_12 = nash_vi_count_12.sort_values(ascending = False)
nash_vi_count_12 = nash_vi_count_12.reset_index()
nash_vi_count_12.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_12['length'] = nash_vi_count_12.word.str.len()
nash_bool_12 = nash_vi_count_12['length'] > 3
nash_count_12 = nash_vi_count_12[nash_bool_12 == True]
nash_count_12.reset_index().head(10)

   index       word  count  length
0      5    section   14.0       7
1      6      shall   12.0       5
2     10     within   10.0       6
3     11       feet   10.0       4
4     12  17.12.040    9.0       9
5     13   exposure    8.0       8
6     14  screening    8.0       9
7     16     fences    8.0       6
8     18   greatest    8.0       8
9     19      walls    8.0       5

In [18]:
bool10 = violation_sub2['VIOLATION_TEXT'].str.contains(str('10.\d{1,3}.\d{,3}'))
viol10_df = violation_sub2[bool10== True]

In [19]:
text_10 = viol10_df['VIOLATION_TEXT'].astype(str)
text_10 = text_10.str.lower()

nash_vi_count_10 = text_10.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_10 = nash_vi_count_10.sort_values(ascending = False)
nash_vi_count_10 = nash_vi_count_10.reset_index()
nash_vi_count_10.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_10['length'] = nash_vi_count_10.word.str.len()
nash_bool_10 = nash_vi_count_10['length'] > 3
nash_count_10 = nash_vi_count_10[nash_bool_10 == True]
nash_count_10.reset_index().head(10)

   index          word  count  length
0      6         shall   51.0       5
1     11         other   35.0       5
2     12        person   34.0       6
3     13       section   31.0       7
4     15        public   29.0       6
5     16        litter   29.0       6
6     18       private   27.0       7
7     20          from   25.0       4
8     21  metropolitan   22.0      12
9     24       chapter   19.0       7

In [20]:
bool15 = violation_sub2['VIOLATION_TEXT'].str.contains(str('15.\d{1,3}.\d{,3}'))
viol15_df = violation_sub2[bool15== True]

In [21]:
text_15 = viol15_df['VIOLATION_TEXT'].astype(str)
text_15 = text_15.str.lower()

nash_vi_count_15 = text_15.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_15 = nash_vi_count_15.sort_values(ascending = False)
nash_vi_count_15 = nash_vi_count_15.reset_index()
nash_vi_count_15.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_15['length'] = nash_vi_count_15.word.str.len()
nash_bool_15 = nash_vi_count_15['length'] > 3
nash_count_15 = nash_vi_count_15[nash_bool_15 == True]
nash_count_15.reset_index().head(15)

    index        word  count  length
0       5      public   17.0       6
1       9      health   11.0       6
2      11      sewage   10.0       6
3      13       shall    8.0       5
4      14        such    8.0       4
5      17  department    7.0      10
6      18     section    7.0       7
7      19       metro    7.0       5
8      22    landlord    6.0       8
9      23     address    6.0       7
10     24       sewer    6.0       5
11     25        with    6.0       4
12     26    disposal    6.0       8
13     27    building    5.0       8
14     28        from    5.0       4

In [22]:
bool7 = violation_sub2['VIOLATION_TEXT'].str.contains(str('7.\d{1,3}.\d{,3}'))
viol7_df = violation_sub2[bool7== True]
viol7_df_cnt = violation_sub2[bool7== True].count()
viol7_df.head(5)

,VIOLATION_DESC,VIOLATION_TEXT
0,Banners,Section 17.32.060 & 17.32.070 - Banners: Bann...
8,Certificate of Compliance Required,Section 17.40.580 - Certificate of Compliance:...
10,Chickens and Other Domestic Farm Animals,Section 17.16.330 (B) (2)(3) - Domestic Animal...
11,Consignment Sale,Section 17.16.030 ((B) 4) - Consignment Sale (...
12,Overcrowding – Unrelated Adults,Section 16.24.030 & 17.04.060 - Overcrowding: ...

In [23]:
viol7_df_cnt

VIOLATION_DESC    253
VIOLATION_TEXT    253
dtype: int64

In [24]:
text_7 = viol7_df['VIOLATION_TEXT'].astype(str)
text_7 = text_7.str.lower()

nash_vi_count_7 = text_7.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_7 = nash_vi_count_7.sort_values(ascending = False)
nash_vi_count_7 = nash_vi_count_7.reset_index()
nash_vi_count_7.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_7['length'] = nash_vi_count_7.word.str.len()
nash_bool_7 = nash_vi_count_7['length'] > 3
nash_count_7 = nash_vi_count_7[nash_bool_7 == True]
nash_count_7.reset_index().head(7)

   index     word  count  length
0      9    shall  195.0       5
1     10     beer  187.0       4
2     12   permit  178.0       6
3     15  section  115.0       7
4     20     such   84.0       4
5     22     this   76.0       4
6     23    m.c.l   76.0       5

In [25]:
bool57 = violation_sub2['VIOLATION_TEXT'].str.contains(str('57.\d{1,3}.\d{,3}'))
viol57_df = violation_sub2[bool57== True]
viol57_df_cnt = violation_sub2[bool57== True].count()
viol57_df.head(5)

,VIOLATION_DESC,VIOLATION_TEXT
738,Caterer Permit,M.C.L 7.08.030D: A caterer's permit shall be i...
744,Payment of Privilege Tax,M.C.L 7.08.060B: All permit holders shall pay ...
754,Liquor sales to under 21,M.C.L 7.08.110: for any violation of any provi...
756,BB beverage in excess of 8 percent,M.C.L 7.08.130B: It is unlawful for any person...
798,BB improper attire employ sales,M.C.L 7.24.030B1: The following acts or conduc...

In [26]:
viol57_df_cnt

VIOLATION_DESC    84
VIOLATION_TEXT    84
dtype: int64

In [27]:
text_57 = viol57_df['VIOLATION_TEXT'].astype(str)
text_57 = text_57.str.lower()

nash_vi_count_57 = text_57.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_57 = nash_vi_count_57.sort_values(ascending = False)
nash_vi_count_57 = nash_vi_count_57.reset_index()
nash_vi_count_57.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_57['length'] = nash_vi_count_57.word.str.len()
nash_bool_57 = nash_vi_count_57['length'] > 3
nash_count_57 = nash_vi_count_57[nash_bool_57 == True]
nash_count_57.reset_index().head(10)

   index        word  count  length
0      9       shall   76.0       5
1     10        beer   75.0       4
2     11       t.c.a   72.0       5
3     14        such   55.0       4
4     15      permit   53.0       6
5     17      person   45.0       6
6     18       other   40.0       5
7     20        this   38.0       4
8     21        that   32.0       4
9     25  wholesaler   29.0      10

In [28]:
bool5 = violation_sub2['VIOLATION_TEXT'].str.contains(str('5.\d{1,3}.\d{,3}'))
viol5_df = violation_sub2[bool5== True]

In [29]:
text_5 = viol5_df['VIOLATION_TEXT'].astype(str)
text_5 = text_5.str.lower()

nash_vi_count_5 = text_5.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_5 = nash_vi_count_5.sort_values(ascending = False)
nash_vi_count_5 = nash_vi_count_5.reset_index()
nash_vi_count_5.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_5['length'] = nash_vi_count_5.word.str.len()
nash_bool_5 = nash_vi_count_5['length'] > 3
nash_count_5 = nash_vi_count_5[nash_bool_5 == True]
nash_count_5.reset_index().head(10)

   index     word  count  length
0      6    shall  142.0       5
1     12     beer   78.0       4
2     13   permit   75.0       6
3     14    t.c.a   71.0       5
4     15  section   69.0       7
5     18     with   56.0       4
6     21     such   52.0       4
7     22     this   50.0       4
8     24     that   44.0       4
9     28   person   37.0       6

In [30]:
bool6 = violation_sub2['VIOLATION_TEXT'].str.contains(str('6.\d{1,3}.\d{,3}'))
viol6_df = violation_sub2[bool6== True]

In [31]:
text_6 = viol6_df['VIOLATION_TEXT'].astype(str)
text_6 = text_6.str.lower()

nash_vi_count_6 = text_6.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_6 = nash_vi_count_6.sort_values(ascending = False)
nash_vi_count_6 = nash_vi_count_6.reset_index()
nash_vi_count_6.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_6['length'] = nash_vi_count_6.word.str.len()
nash_bool_6 = nash_vi_count_6['length'] > 3
nash_count_6 = nash_vi_count_6[nash_bool_6 == True]
nash_count_6.reset_index().head(10)

   index        word  count  length
0      3       shall  483.0       5
1      7     section  338.0       7
2     17  maintained   94.0      10
3     18       every   93.0       5
4     19        from   91.0       4
5     21        with   87.0       4
6     22    building   83.0       8
7     25   16.24.340   69.0       9
8     26       water   68.0       5
9     28       other   67.0       5

In [32]:
bool2 = violation_sub2['VIOLATION_TEXT'].str.contains(str('2.\d{1,3}.\d{,3}'))
viol2_df = violation_sub2[bool2== True]

In [33]:
text_2 = viol2_df['VIOLATION_TEXT'].astype(str)
text_2 = text_2.str.lower()

nash_vi_count_2 = text_2.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_2 = nash_vi_count_2.sort_values(ascending = False)
nash_vi_count_2 = nash_vi_count_2.reset_index()
nash_vi_count_2.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_2['length'] = nash_vi_count_2.word.str.len()
nash_bool_2 = nash_vi_count_2['length'] > 3
nash_count_2 = nash_vi_count_2[nash_bool_2 == True]
nash_count_2.reset_index().head(10)

   index     word  count  length
0      8    shall   90.0       5
1     10  section   80.0       7
2     12   permit   79.0       6
3     16     beer   56.0       4
4     18     that   43.0       4
5     22     such   38.0       4
6     23     with   38.0       4
7     24    signs   37.0       5
8     25    other   37.0       5
9     27   person   36.0       6

In [34]:
bool8 = violation_sub2['VIOLATION_TEXT'].str.contains(str('8.\d{1,3}.\d{,3}'))
viol8_df = violation_sub2[bool8== True]

In [35]:
text_8 = viol8_df['VIOLATION_TEXT'].astype(str)
text_8 = text_8.str.lower()

nash_vi_count_8 = text_8.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)

## Sorting word counts in descending order

nash_vi_count_8 = nash_vi_count_8.sort_values(ascending = False)
nash_vi_count_8 = nash_vi_count_8.reset_index()
nash_vi_count_8.columns = ['word','count']

## Counting the word length to eliminate common words or symbols
nash_vi_count_8['length'] = nash_vi_count_8.word.str.len()
nash_bool_8 = nash_vi_count_8['length'] > 3
nash_count_8 = nash_vi_count_8[nash_bool_8 == True]
nash_count_8.reset_index().head(10)

   index      word  count  length
0      5    permit  114.0       6
1      6      beer  108.0       4
2     11     shall   81.0       5
3     14     m.c.l   63.0       5
4     19    holder   37.0       6
5     21      that   32.0       4
6     22   section   30.0       7
7     25    within   27.0       6
8     26  unlawful   26.0       8
9     27    person   26.0       6

In [36]:
nash_count_5['code'] = '5.xx.xxx'
nash_count_7['code'] = '7.xx.xxx'
nash_count_8['code'] = '8.xx.xxx'
nash_count_10['code'] = '10.xx.xxx'
nash_count_12['code'] = '12.xx.xxx'
nash_count_15['code'] = '15.xx.xxx'
nash_count_16['code'] = '16.xx.xxx'
nash_count_17['code'] = '17.xx.xxx'
nash_count_57['code'] = '57.xx.xxx'

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [41]:
word_count = [nash_count_5, nash_count_7, nash_count_8, nash_count_10, nash_count_12, nash_count_15, nash_count_16, nash_count_17, nash_count_57]

count_list = pd.concat(word_count, ignore_index = True).astype(str)
count_list.sort_values(['count'], ascending = False)
count_list.to_csv("/Users/ghfmhf/git/data-question-2-xtreme-united/count_list.csv")
count_list.head(10)

      word  count length      code
0    shall  142.0      5  5.xx.xxx
1     beer   78.0      4  5.xx.xxx
2   permit   75.0      6  5.xx.xxx
3    t.c.a   71.0      5  5.xx.xxx
4  section   69.0      7  5.xx.xxx
5     with   56.0      4  5.xx.xxx
6     such   52.0      4  5.xx.xxx
7     this   50.0      4  5.xx.xxx
8     that   44.0      4  5.xx.xxx
9   person   37.0      6  5.xx.xxx

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9443 entries, 0 to 9442
Data columns (total 4 columns):
word      9443 non-null object
count     9443 non-null object
length    9443 non-null object
code      9443 non-null object
dtypes: object(4)
memory usage: 295.2+ KB

In [60]:
count_list['cnt_float']=pd.to_numeric(count_list['count'])
count_list.info(print)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9443 entries, 0 to 9442
Data columns (total 5 columns):
word         9443 non-null object
count        9443 non-null object
length       9443 non-null object
code         9443 non-null object
cnt_float    9443 non-null float64
dtypes: float64(1), object(4)
memory usage: 368.9+ KB

In [61]:
count_list.head(10)

      word  count length      code  cnt_float
0    shall  142.0      5  5.xx.xxx      142.0
1     beer   78.0      4  5.xx.xxx       78.0
2   permit   75.0      6  5.xx.xxx       75.0
3    t.c.a   71.0      5  5.xx.xxx       71.0
4  section   69.0      7  5.xx.xxx       69.0
5     with   56.0      4  5.xx.xxx       56.0
6     such   52.0      4  5.xx.xxx       52.0
7     this   50.0      4  5.xx.xxx       50.0
8     that   44.0      4  5.xx.xxx       44.0
9   person   37.0      6  5.xx.xxx       37.0

In [68]:
count_list_agg=count_list.groupby(by='word').agg(sum)
count_list_agg.sort_values(by='cnt_float',ascending=False)

                            cnt_float
word
shall                          1068.0
section                         694.0
beer                            458.0
permit                          455.0
such                            301.0
other                           272.0
with                            271.0
that                            254.0
person                          246.0
this                            236.0
from                            234.0
t.c.a                           219.0
premises                        188.0
within                          184.0
public                          168.0
than                            164.0
which                           158.0
m.c.l                           156.0
building                        150.0
property                        144.0
required                        132.0
sale                            131.0
signs                           127.0
holder                          124.0
maintained                      117.0
have                            114.0
every                           113.0
business                        112.0
under                           111.0
metropolitan                    107.0
...                               ...
signage:                          1.0
prohibited:                       1.0
disrepair                         1.0
threatened                        1.0
fondling                          1.0
ditches                           1.0
organization,                     1.0
sickness                          1.0
discretion,                       1.0
property--responsibilities        1.0
offices                           1.0
occupancy:                        1.0
depressions                       1.0
occupied:                         1.0
beings                            1.0
offensive                         1.0
determines                        1.0
shade                             1.0
device,                           1.0
different                         1.0
furniture,                        1.0
digging                           1.0
sharp                             1.0
protect                           1.0
only.                             1.0
touching,                         1.0
only:                             1.0
director.                         1.0
disabled                          1.0
residential:                      1.0

[3675 rows x 1 columns]

In [77]:
count_list.groupby(by='code').count()

           word  count  length  cnt_float
code
10.xx.xxx   646    646     646        646
12.xx.xxx   194    194     194        194
15.xx.xxx   285    285     285        285
16.xx.xxx  1502   1502    1502       1502
17.xx.xxx   605    605     605        605
5.xx.xxx   1616   1616    1616       1616
57.xx.xxx  1297   1297    1297       1297
7.xx.xxx   2183   2183    2183       2183
8.xx.xxx   1115   1115    1115       1115

live_vi['cat1'] =   pd.np.where(live_vi['text'].str.contains("repair"), "prop",
                    pd.np.where(live_vi['text'].str.contains("porch"), "prop",
                    pd.np.where(live_vi['text'].str.contains("pool"), "prop",
                    pd.np.where(live_vi['text'].str.contains("odor"), "prop",
                    pd.np.where(live_vi['text'].str.contains("graffiti"), "prop",
                    pd.np.where(live_vi['text'].str.contains("dilapidated"), "prop",
                    pd.np.where(live_vi['text'].str.contains("storage"), "prop",
                    pd.np.where(live_vi['text'].str.contains("potholes"), "prop",
                    pd.np.where(live_vi['text'].str.contains("holes"), "prop",
                    pd.np.where(live_vi['text'].str.contains("hole"), "prop",            
                    pd.np.where(live_vi['text'].str.contains("exposed"), "prop",
                    pd.np.where(live_vi['text'].str.contains("fire"), "prop",
                    pd.np.where(live_vi['text'].str.contains("grass"), "prop",
                    pd.np.where(live_vi['text'].str.contains("house"), "prop", 
                    pd.np.where(live_vi['text'].str.contains("exterior"), "prop",
                    pd.np.where(live_vi['text'].str.contains("interior"), "prop", 
                    pd.np.where(live_vi['text'].str.contains("fence"), "prop",
                    pd.np.where(live_vi['text'].str.contains("exhaust"), "prop",
                    pd.np.where(live_vi['text'].str.contains("ventilation"), "prop",                                
                    pd.np.where(live_vi['text'].str.contains("maintenance"), "prop",''))))))))))))))))))))

live_vi['cat2'] = pd.np.where(live_vi['text'].str.contains("sewer"), "water",
                    pd.np.where(live_vi['text'].str.contains("hydrant"), "water",
                    pd.np.where(live_vi['text'].str.contains("sewage"), "water",
                    pd.np.where(live_vi['text'].str.contains("plumbing"), "water",
                    pd.np.where(live_vi['text'].str.contains("sanitary"), "water",
                    pd.np.where(live_vi['text'].str.contains("faucet"), "water",                                
                    pd.np.where(live_vi['text'].str.contains("toilet"), "water", 
                    pd.np.where(live_vi['text'].str.contains("leaking"), "water",
                    pd.np.where(live_vi['text'].str.contains("drain"), "water",
                    pd.np.where(live_vi['text'].str.contains("water"), "water",''))))))))))

live_vi['cat3'] = pd.np.where(live_vi['text'].str.contains("occupancy"), "occupancy",
                    pd.np.where(live_vi['text'].str.contains("occupency"), "occupancy",
                    pd.np.where(live_vi['text'].str.contains("tenant"), "occupancy",
                    pd.np.where(live_vi['text'].str.contains("landlord"), "occupancy",
                    pd.np.where(live_vi['text'].str.contains("residential"), "occupancy",
                    pd.np.where(live_vi['text'].str.contains("extermination"), "occupancy",
                    pd.np.where(live_vi['text'].str.contains("crowding"), "occupancy", '')))))))

live_vi['cat4'] = pd.np.where(live_vi['text'].str.contains("couch"), "dumping",
                    pd.np.where(live_vi['text'].str.contains("mattress"), "dumping",
                    pd.np.where(live_vi['text'].str.contains("couches"), "dumping",
                    pd.np.where(live_vi['text'].str.contains("mattresses"), "dumping",
                    pd.np.where(live_vi['text'].str.contains("bed"), "dumping",
                    pd.np.where(live_vi['text'].str.contains("tv"), "dumping",
                    pd.np.where(live_vi['text'].str.contains("TV"), "dumping",
                    pd.np.where(live_vi['text'].str.contains("abandoned"), "dumping",  
                    pd.np.where(live_vi['text'].str.contains("furniture"), "dumping",  
                    pd.np.where(live_vi['text'].str.contains("dumping"), "dumping",   
                    pd.np.where(live_vi['text'].str.contains("machine"), "dumping",                                
                    pd.np.where(live_vi['text'].str.contains("abnd"), "dumping",''))))))))))))

live_vi['cat5'] = pd.np.where(live_vi['text'].str.contains("electrical"), "electrical",
                    pd.np.where(live_vi['text'].str.contains("electric"), "electrical",
                    pd.np.where(live_vi['text'].str.contains("wire"), "electrical",
                    pd.np.where(live_vi['text'].str.contains("lighting"), "electrical",                               
                    pd.np.where(live_vi['text'].str.contains("wiring"), "electrical",'')))))

live_vi['cat6'] = pd.np.where(live_vi['text'].str.contains("permit"), "illegal business operations",
                    pd.np.where(live_vi['text'].str.contains("sale"), "illegal business operations",
                    pd.np.where(live_vi['text'].str.contains(" signs"), "illegal business operations",                                
                    pd.np.where(live_vi['text'].str.contains("sell"), "illegal business operations",
                    pd.np.where(live_vi['text'].str.contains("beer "), "illegal business operations",                                
                    pd.np.where(live_vi['text'].str.contains("bb "), "illegal business operations",                                
                    pd.np.where(live_vi['text'].str.contains("supplier"), "illegal business operations",                                
                    pd.np.where(live_vi['text'].str.contains("certificate"), "illegal business operations",                                
                    pd.np.where(live_vi['text'].str.contains("banner"), "illegal business operations", 
                    pd.np.where(live_vi['text'].str.contains("advertising"), "illegal business operations",
                    pd.np.where(live_vi['text'].str.contains("renting"), "illegal business operations",  
                    pd.np.where(live_vi['text'].str.contains("illegal"), "illegal business operations",''))))))))))))

live_vi['cat7'] = pd.np.where(live_vi['text'].str.contains("high"), "overgrowth",
                    pd.np.where(live_vi['text'].str.contains("weeds"), "overgrowth",
                    pd.np.where(live_vi['text'].str.contains("weed"), "overgrowth",
                    pd.np.where(live_vi['text'].str.contains("tall"), "overgrowth",
                    pd.np.where(live_vi['text'].str.contains("overgrown"), "overgrowth",
                    pd.np.where(live_vi['text'].str.contains(" grass"), "overgrowth",                                
                    pd.np.where(live_vi['text'].str.contains("brush"), "overgrowth",'')))))))

live_vi['cat8'] = pd.np.where(live_vi['text'].str.contains("vehicle"), "vehicle",
                    pd.np.where(live_vi['text'].str.contains("vehicles"), "vehicle",
                    pd.np.where(live_vi['text'].str.contains("inoperable"), "vehicle",
                    pd.np.where(live_vi['text'].str.contains("parking"), "vehicle",
                    pd.np.where(live_vi['text'].str.contains("parked"), "vehicle",
                    pd.np.where(live_vi['text'].str.contains("boat"), "vehicle",
                    pd.np.where(live_vi['text'].str.contains("wrecked"), "vehicle", 
                    pd.np.where(live_vi['text'].str.contains(" suv"), "vehicle", 
                    pd.np.where(live_vi['text'].str.contains("trailer"), "vehicle",                                 
                    pd.np.where(live_vi['text'].str.contains("truck"), "vehicle",''))))))))))

live_vi['cat9'] = pd.np.where(live_vi['text'].str.contains("trash"), "trash",
                    pd.np.where(live_vi['text'].str.contains("debris"), "trash",
                    pd.np.where(live_vi['text'].str.contains("debri"), "trash",
                    pd.np.where(live_vi['text'].str.contains("dumpster"), "trash",
                    pd.np.where(live_vi['text'].str.contains("waste"), "trash",
                    pd.np.where(live_vi['text'].str.contains("rubbish"), "trash",
                    pd.np.where(live_vi['text'].str.contains("garbage"), "trash",
                    pd.np.where(live_vi['text'].str.contains("litter"), "trash",''))))))))

live_vi['cat10'] = pd.np.where(live_vi['text'].str.contains("chicken"), "animals",
                    pd.np.where(live_vi['text'].str.contains("chickens"), "animals",
                    pd.np.where(live_vi['text'].str.contains("dog"), "animals",
                    pd.np.where(live_vi['text'].str.contains("dogs"), "animals",
                    pd.np.where(live_vi['text'].str.contains("cats"), "animals",
                    pd.np.where(live_vi['text'].str.contains("goat"), "animals",
                    pd.np.where(live_vi['text'].str.contains("goats"), "animals",'')))))))

live_vi['cat11'] = pd.np.where(live_vi['text'].str.contains("problem"), "inspector_notes",
                    pd.np.where(live_vi['text'].str.contains("audit"), "inspector_notes",
                    pd.np.where(live_vi['text'].str.contains("inspector"), "inspector_notes",
                    pd.np.where(live_vi['text'].str.contains("nvf"), "inspector_notes",
                    pd.np.where(live_vi['text'].str.contains("imv"), "inspector_notes",
                    pd.np.where(live_vi['text'].str.contains("amv"), "inspector_notes", 
                    pd.np.where(live_vi['text'].str.contains("action"), "inspector_notes",                                
                    pd.np.where(live_vi['text'].str.contains("found"), "inspector_notes",''))))))))

live_vi['master_category'] = (live_vi['cat1'] + " " +
                              live_vi['cat2'] + " " +
                              live_vi['cat3'] + " " +
                              live_vi['cat4'] + " " +
                              live_vi['cat5'] + " " +
                              live_vi['cat6'] + " " +
                              live_vi['cat7'] + " " +
                              live_vi['cat8'] + " " +
                              live_vi['cat9'] + " " +
                              live_vi['cat10'] + " " +
                              live_vi['cat11'])

clean_data_2['VIOLATION_DESC'] = clean_data_2['VIOLATION_DESC'].str.lower()
clean_data_2['VIOLATION_DESC'] = clean_data_2['VIOLATION_DESC'].dropna(how='',axis=0)

clean_data_2['cat1'] =   pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("repair"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("porch"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("pool"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("odor"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("graffiti"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("dilapidated"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("storage"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("potholes"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("holes"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("hole"), "prop",            
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("exposed"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("fire"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("grass"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("house"), "prop", 
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("exterior"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("interior"), "prop", 
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("fence"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("exhaust"), "prop",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("ventilation"), "prop",                                
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("maintenance"), "prop",''))))))))))))))))))))

clean_data_2['cat2'] = pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("sewer"), "water",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("hydrant"), "water",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("sewage"), "water",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("plumbing"), "water",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("sanitary"), "water",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("faucet"), "water",                                
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("toilet"), "water", 
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("leaking"), "water",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("drain"), "water",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("water"), "water",''))))))))))

clean_data_2['cat3'] = pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("occupancy"), "occupancy",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("occupency"), "occupancy",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("tenant"), "occupancy",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("landlord"), "occupancy",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("residential"), "occupancy",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("extermination"), "occupancy",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("crowding"), "occupancy", '')))))))

clean_data_2['cat4'] = pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("couch"), "dumping",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("mattress"), "dumping",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("couches"), "dumping",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("mattresses"), "dumping",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("bed"), "dumping",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("tv"), "dumping",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("TV"), "dumping",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("abandoned"), "dumping",  
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("furniture"), "dumping",  
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("dumping"), "dumping",   
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("machine"), "dumping",                                
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("abnd"), "dumping",''))))))))))))

clean_data_2['cat5'] = pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("electrical"), "electrical",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("electric"), "electrical",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("wire"), "electrical",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("lighting"), "electrical",                               
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("wiring"), "electrical",'')))))

clean_data_2['cat6'] = pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("permit"), "illegal business operations",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("sale"), "illegal business operations",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains(" signs"), "illegal business operations",                                
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("sell"), "illegal business operations",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("beer "), "illegal business operations",                                
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("bb "), "illegal business operations",                                
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("supplier"), "illegal business operations",                                
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("certificate"), "illegal business operations",                                
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("banner"), "illegal business operations", 
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("advertising"), "illegal business operations",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("renting"), "illegal business operations",  
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("illegal"), "illegal business operations",
                    pd.np.where(clean_data_2['VIOLATION_TEXT'].str.contains("beer"), "illegal business operations",'')))))))))))))

clean_data_2['cat7'] = pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("high"), "overgrowth",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("weeds"), "overgrowth",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("weed"), "overgrowth",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("tall"), "overgrowth",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("overgrown"), "overgrowth",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains(" grass"), "overgrowth",                                
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("brush"), "overgrowth",'')))))))

clean_data_2['cat8'] = pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("vehicle"), "vehicle",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("vehicles"), "vehicle",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("inoperable"), "vehicle",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("parking"), "vehicle",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("parked"), "vehicle",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("boat"), "vehicle",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("wrecked"), "vehicle", 
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains(" suv"), "vehicle", 
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("trailer"), "vehicle",                                 
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("truck"), "vehicle",''))))))))))

clean_data_2['cat9'] = pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("trash"), "trash",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("debris"), "trash",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("debri"), "trash",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("dumpster"), "trash",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("waste"), "trash",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("rubbish"), "trash",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("garbage"), "trash",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("litter"), "trash",''))))))))

clean_data_2['cat10'] = pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("chicken"), "animals",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("chickens"), "animals",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("dog"), "animals",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("dogs"), "animals",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("cats"), "animals",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("goat"), "animals",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("goats"), "animals",'')))))))

clean_data_2['cat11'] = pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("problem"), "inspector_notes",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("audit"), "inspector_notes",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("inspector"), "inspector_notes",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("nvf"), "inspector_notes",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("imv"), "inspector_notes",
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("amv"), "inspector_notes", 
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("action"), "inspector_notes",                                
                    pd.np.where(clean_data_2['VIOLATION_DESC'].str.contains("found"), "inspector_notes",''))))))))

clean_data_2['master_category'] = (clean_data_2['cat1'] + " " +
                              clean_data_2['cat2'] + " " +
                              clean_data_2['cat3'] + " " +
                              clean_data_2['cat4'] + " " +
                              clean_data_2['cat5'] + " " +
                              clean_data_2['cat6'] + " " +
                              clean_data_2['cat7'] + " " +
                              clean_data_2['cat8'] + " " +
                              clean_data_2['cat9'] + " " +
                              clean_data_2['cat10'] + " " +
                              clean_data_2['cat11'])